     <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <%if @error then%>
  <%=render :template=>"common/error"%> 
  <%end%>
<form method="post" name="postform" id="postform" action="<%=url_for(:controller=>:mails,:action=>:create)%>" >
  <%if @mail_id then%>
   <input type="hidden" name="mail_id" value="<%=@mail_id%>">
   <input type="hidden" name="type" value="<%=@type%>">
  <%end%>
   <div class="" >
      <div class="to_info" >
         <div class="to_info_inner">
            <div class="to_box" >
               <span class="namelist_label g" >收件人：</span>
               <span class="namelist toname">
                  <input type="text" name="to" id="to" value='<%=@to%>' />
                  <a href="native://selectUsers?to"><%= image_tag "icon-select.png" %></a>
               </span>
            </div>
         </div>
      </div>
      <div class="to_info" id="simpleDiv" style="">
         <div class="to_info_inner">
            <div><a class="to_info_toggle g" onclick="sw(1)">抄送/密送</a></div>
         </div>
      </div>
      <div class="to_info" id="moreDiv" style="display:none;">
         <div class="to_info_unfold" style="">
            <div class="to_info_inner">
               <div class="to_box" >
                  <span class="namelist_label g" onclick="S('showcc').focus();">抄　送：</span>
                  <span class="namelist toname">
                     <input type="text" name="cc" id="cc" value="<%=@cc%>" /> <a href="native://selectUsers?cc"><%= image_tag "icon-select.png" %></a>
                  </span>
               </div>
               <div class="to_box" >
                  <span class="namelist_label g" onclick="S('showbcc').focus();">密　送：</span>
                  <span class="namelist toname">
                    <input type="text" name="bcc" id="bcc" value="<%=@bcc%>" /> <a href="native://selectUsers?bcc"><%= image_tag "icon-select.png" %></a>
                  </span>
               </div>
            </div>
         </div>
      </div>
      <div class="content mailCompose">
      
         <div class="subjectLine">
            <label class="g" >主　题：</label>
            <span class="subjectIn">
                <input tabindex="3" class="mailComposeSubject" name="subject" id="subject" value="<%=@subject%>"/></span>
        </div>
        <%if @type!="0" then%>
         <div class="infobar g"><%=  @type=="3" ? "转发":"回复" %>成功后将自动附带原邮件内容</div>
         <%end%>
         <!--<div ><label for="content" >正文：</label></div>--><!--<div style="margin-top:5px;">-->
         <div class="mailComposeInputWrap"><textarea tabindex="4" rows="10" name="content" id="content" class="mailComposeInput" style="font-size:15px;"> <%=@content%></textarea></div>
      </div>
   </div>
   <div class="actions cols2">
    <input type="submit" value="发送" />
    <%if @mail_id.nil?%>
    <a href="native://exitView">返回</a>
    <%else%>
    <a href="#" onclick="javascript:window.history.go(-1);return false;">取消</a>
    <%end%>
   </div>
</form>
<script>
Bridge = {
    trigger:function(key,items){
        $("body").trigger(key,{items:items});
    },
    on:function(key,callback){
        $("body").off(key).on(key,function(event,result){
            callback(result.items)
        });
    },
    sendReturnValue:function(methodName,value){
      if("undefined" != typeof window.bridgeCallback){
        window.bridgeCallback.sendReturnValue(methodName,value);
      }
      return value;
    }

};
function S(e_id){
  return document.getElementById(e_id+"_d") ;
}

function sw(f)
{
document.getElementById("moreDiv").style.display = f?"":"none";
document.getElementById("simpleDiv").style.display = f?"none":"";
}

<% if @bcc then%>
sw(1)
<%end%>
Bridge={
  trigger:function(key,items,ext){
   var emails=[];
      for (var i = 0; i < items.length; i++) {
          var email = items[i].email;
          if(email&&email.length>0){
            emails.push(email);
          }
      }
    originalValue=document.getElementById(ext).value.trim();
    email_strs=emails.join(";")+";"
    if(originalValue.length>0&&originalValue.lastIndexOf(";")!==originalValue.length-1){
      document.getElementById(ext).value = originalValue+";"+email_strs
    }else{
       document.getElementById(ext).value = originalValue+email_strs
    }
  }
}

var textarea = document.getElementById("content");

textarea.oninput = function() {
  textarea.style.height = ""; /* Reset the height*/
  textarea.style.height =textarea.scrollHeight+ "px";
};
</script>